.blocks {
  /* 
        BEM CSSss
        - Block
        - Element 
        - Modifier

        - Padrão do Projeto / Design Patterns 

        Exemplo: 
        .cars__title
        .cars__list
        .cars__item
        .cars__item--destack 
        .cars__button
        .cars__img-container

        .block__element--modifier
    
     */

  padding: 3rem 0;
  //   margin-bottom: 50px;

  &__title {
    color: $color-04;
    padding: 50px 20px 20px;
  }

  &__list {
    list-style-type: none;
    font-size: $font-small;
    height: max-content;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;

    @media (min-width: $md) {
      padding: 0;
    }
  }

  &__item {
    color: $color-02;
    display: block;
    margin: $space-default 0.9rem;
    text-align: center;
    width: calc(99% / 3 - 15px);
    border-radius: 1rem;
    box-shadow: 5px 6px 15px 0px rgb(201 201 201);

    @media (max-width: $md) {
      width: calc(99% - 30px);
    }
  }

  &__img-container {
    display: block;
    height: 15rem;
    overflow: hidden;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    @media (max-width: $md) {
      height: 20rem;
    }
  }

  &__description {
    color: $color-default;
    font-size: $font-normal;
    padding: $space-default;

    &--destack {
      color: $color-05;
    }
  }

  &__button {
    background-color: $color-01;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: $font-medium;
    margin: $mt-02 auto $mb;
    padding: 0.5rem 3rem;
    text-align: center;
    text-decoration: none;
  }
  &__text {
    padding: 0 20px;
    font-size: 2rem;

    color: white;
  }
  h4 {
    padding: 30px 20px 20px;
    font-size: 2rem;
    color: white;
    margin-bottom: 30px;
  }
}
