header {
  display: block;
  padding: 40px 20px;
}
footer {
  display: block;
  padding: 40px 20px;
  background-color: $bg-color;
}

.header {
  background-color: $bg-color;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: $font-big;
  }

  &__nav {
    font-size: $font-medium;
  }
}
.footer {
  p {
    font-size: $font-small;
    margin: 0;
  }
  &__nav {
    font-size: $font-medium;
  }
}
