@import url("../css/satoshi.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  /* equivalente a 10px --- 1.6rem equivalente a 16px */
  font-size: 62.5%;
  --verde: rgba(0, 116, 124, 1);
  --verde-claro: rgba(0, 186, 200, 1);
  --cinza1: rgba(202, 202, 202, 1);
  --cinza2: rgba(135, 135, 135, 1);
  --cinza3: rgba(31, 31, 33, 1);
  --fundo: #faf5ef;
  --pad-padrao: 8%;
}
header,
footer,
section {
  padding: 0 var(--pad-padrao);
}
body {
  background-color: #faf5ef;
  font-family: satoshi, sans-serif;
  /* overflow: hidden; */
  color: var(--cinza3);
  min-width: 220px;
}
header {
  height: 123px;
  border-bottom: solid 1px var(--cinza1);
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
h8 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #897c76;
}
p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--cinza3);
}
ul {
  list-style-type: none;
}

#logo {
  float: left;
  margin-top: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--verde);
}
.menu {
  float: right;
  margin-top: 34px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: var(--verde);
}
#div-formulario {
  height: 100%;
  width: 50%;
  float: left;
  margin-bottom: 100px;
}
#imagem {
  width: 50%;
  float: right;
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--verde-claro);
}

.menu ul li {
  display: inline-block;
  padding-inline-start: 20px;
}
.menu ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  color: var(--cinza2);
}
.menu ul li a:hover {
  color: var(--verde-claro);
}
.menu ul li a:active {
  color: var(--verde-claro);
}
#bt-menu {
  padding: 5px;
  background-color: var(--verde);
  color: var(--fundo);
  font-family: Arial;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  border-radius: 5px;
  float: right;
  margin-top: 20px;
  margin-right: var(--pad-padrao);
  padding: 6px 1px;
}

#bt-x {
  padding: 5px;
  background-color: var(--verde);
  color: var(--fundo);
  font-family: Arial;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  border-radius: 5px;
  float: right;
  margin-top: 20px;
  margin-right: var(--pad-padrao);
  padding: 6px 1px;
}

#bt-x,
#bt-menu,
#ckb-menu {
  display: none;
}
#div-botao {
  position: absolute;
  background-color: blueviolet;
}

/* * TEXTOS FORM **************** */
section > div > h1 {
  color: var(--cinza3);
  margin-top: 56px;
}
section > div > h4 {
  color: var(--verde-claro);
  margin-top: 69px;
}
section > div > p {
  color: var(--cinza2);
  margin-top: 5px;
}
label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--cinza3);
}
input {
  height: 35px;
}

[type="text"],
[type="email"],
[type="tel"],
textarea,
label {
  display: block;
  width: 90%;
}

[type="text"],
[type="email"],
[type="tel"],
textarea {
  border-style: solid 1px rgba(135, 135, 135, 1);
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

[for="nome"] {
  margin-top: 33px;
}
[for="email"],
[for="tel"],
[for="mensagem"] {
  margin-top: 29px;
}
header + h1 {
  margin-top: 56px;
  padding: 0 var(--pad-padrao);
  /* text-align: center; */
}

.botao {
  background-color: var(--verde);
  color: rgb(255, 255, 255);
  /* border: 2px solid #3262ae; */
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  margin-top: 57px;
  width: 257px;
  height: 55px;
}

.botao:hover {
  background-color: var(--verde-claro);
}

.sombra-bt {
  width: 257px;
  height: 55px;
  border: 1px solid;
  border-color: var(--verde);
  box-sizing: border-box;
  margin-left: 15px;
  margin-top: -42px;
  border-style: solid;
}
/* * FIM FORMULARIO *********** */
#imagem > div {
  margin-top: 65px;
  text-align: right;
}
#imagem > div > ul > li {
  line-height: 26px;
}
#imagem > div > ul > li:first-child {
  color: var(--cinza3);
  margin-bottom: 10px;
}

#imagem > div > ul > li > a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--cinza3);
}
#imagem > div > ul > li > a:hover {
  color: var(--verde-claro);
}
figcaption {
  visibility: hidden;
}
[src="./image/tomar-cafe-ed.jpg"] {
  width: 77%;
  height: 566px;
  margin-top: 115px;
  float: right;
  object-fit: cover;
  object-position: -202px 0px;
  border-radius: 0 76px 0 76px;
  border: solid 1px;
  border-color: var(--cinza2);
  margin-top: 60px;
}

[src="./image/seta.svg"] {
  margin-left: 10px;
  margin: 32px 50% 0 0;
}

/* *********** FOOTER ************ */
footer {
  height: 123px;
  width: 84%;
  background-color: var(--verde);
  float: left;
  margin-top: 120px;
  z-index: 10;
}

.fig-resp {
  display: none;
}

/* *********** GALERIA ************* */
#container-galeria > .galeria-item > img {
  max-width: 100%;
}

#container-galeria {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
}
#container-galeria > .galeria-item {
  flex: 1 1 200px;
  margin: 20px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 0 76px 0 76px;
  border: solid 1px;
  border-color: var(--cinza2);
}
.galeria-item:hover {
  transition: all 0.4s;
  box-shadow: 10px 10px 19px var(--cinza1);
  cursor: pointer;
}
#container-galeria > .galeria-item > p {
  position: absolute;
  margin-top: 400px;
}
/* ********** home *********** */
.home-containder {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "l1 r1"
    "l1 r2"
    "l1 r3";
  height: 805px;
  padding: 0px;
}
.col-left1 {
  grid-area: l1;
  background-color: var(--verde);
  height: 805px;
  background-image: url(../image/500px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: auto 805px;
  /* border-radius: 0 76px 0 0; */
}
.col-right1 {
  grid-area: r1;
}
.col-right2 {
  grid-area: r2;
  padding-right: 16%;
  color: var(--cinza2);
  text-align: right;
  margin-top: 200px;
}
.col-right3 {
  grid-area: r3;
  padding-right: 16%;
}

.e1 {
  color: var(--fundo);
}
.text-left {
  color: var(--fundo);
  padding-left: 16%;
  margin-top: 500px;
}
.text-left > h5 {
  color: var(--cinza2);
}
.text-r1 {
  padding-right: 16%;
  text-align: right;
  margin-top: 62px;
}
.text-r1 > h1:nth-child(1) {
  color: var(--verde);
}
.text-r1 > h1:nth-child(2) {
  color: var(--verde-claro);
}
.text-r1 > h1:nth-child(3) {
  color: var(--cinza2);
}
.lista {
  display: flex;
  justify-content: end;
  gap: 10%;
}
.lista ul {
  margin-top: 10px;
  text-align: right;
}

.lista ul > li > p {
  color: var(--cinza2);
}
.lista .lista1 > li:nth-child(7) > p {
  font-weight: 800;
}

/* ************* NOVO FOOTER *************** */
.footer-container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 20px; */
  align-items: center;
  margin-top: 0px;
  border-top: solid 1px var(--cinza1);
}
.links-rodape {
  display: flex;
}

.links-rodape li:nth-child(n + 2) {
  margin-left: 20px;
}
.links-rodape li a {
  color: var(--fundo);

  display: block;
  padding: 10px 10px 10px 0;
}
.todos-direitos > p {
  color: var(--fundo);
  font-size: 13px;
  padding: 0 10px 0 10px;
}

/* ************** Responsivo **************** */
@media (max-width: 640px) {
  .menu {
    display: none;
    background-color: rgb(181, 228, 230);
    position: absolute;
    width: 84%;
    margin-top: 63px;
    transition: all 0.5s;
    box-shadow: 1px 1px 11px var(--cinza1);
  }
  .menu ul li a {
    padding: 10px;
    text-align: center;
    display: block;
    /* width: 100%; */
  }

  .menu ul li {
    padding-inline-start: 0;
    width: 100%;
    border-bottom: solid 1px var(--cinza1);
    display: list-item;
  }
  .menu ul li:hover {
    background-color: var(--verde);
    transition: all 0.5s;
  }
  .menu ul li a:hover {
    color: var(--fundo);
  }

  #bt-menu {
    display: block;
  }
  #bt-x {
    display: none;
  }

  #ckb-menu:checked ~ #bt-x {
    display: block;
  }
  #ckb-menu:checked ~ #bt-menu {
    display: none;
  }
  #ckb-menu:checked ~ header > .menu {
    display: block;
    text-align: center;
    transition: all 0.5s;
    background-color: white;
  }
  #logo {
    margin-top: 12px;
    font-size: 16px;
  }
  #div-formulario {
    width: 100%;
    margin-top: 24px;
  }
  header {
    height: 85px;
  }
  section > div > h1 {
    margin-top: 0;
  }
  h1 {
    font-size: 36px;
    line-height: 42px;
  }
  #imagem {
    display: none;
    /* float: left; */
  }
  .fig-resp {
    display: block;
  }
  [src="./image/tomar-cafe-ed.jpg"] {
    width: 100%;
    height: 100%;
    margin-top: 16px;
    float: left;
    object-fit: cover;
    object-position: 0px 0px;
    border-radius: 0 76px 0 76px;
    border: solid 1px;
    border-color: var(--verde-claro);
  }
  section > div > h4 {
    margin-top: 32px;
  }
  .rodape-esq {
    display: none;
  }
  .rodape-dir {
    float: right;
    height: 100%;
    width: 100%;
    text-align: left;
    margin-right: 0;
  }
  header + h1 {
    margin-top: 24px;
    padding: 0 var(--pad-padrao);
  }

  /* ********** HOME *************** */
  .home-containder {
    display: block;
  }

  .col-left1 {
    background-size: auto 470px;
    height: 470px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
  }
  /* .text-left {
    margin-top: 0px;
    padding-left: 30%;
    display: block;
  } */
  .text-left {
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  /* .text-left > h5,
  .text-left > h1 {
    display: block;
    float: left;
    width: 100%;
  } */
  .text-left > h5 {
    margin-top: 142px;
  }
  .col-right1 {
    display: block;
    float: left;
    width: 100%;
  }
  .text-r1 {
    padding-right: 0%;
    text-align: center;
    margin-top: 78px;
  }
  .col-right2 {
    display: block;
    float: left;
    padding-right: 0%;
    color: var(--cinza2);
    margin: 45px 0;
    text-align: center;
    width: 100%;
  }
  .col-right3 {
    display: none;
  }
  .footer-container-flex {
    justify-content: center;
    box-sizing: border-box;
    padding-top: 15px;
  }
  .links-rodape {
    display: flex;
  }
  .links-rodape li a {
    padding: 5px 10px 0px 10px;
    text-align: center;
  }
  .links-rodape li:nth-child(n + 2) {
    margin-left: 0px;
  }
  .todos-direitos > p {
    font-size: 9px;
    text-align: center;
    padding: 0 5px;
  }
  footer {
    width: 100%;
  }
  .col-right2 > h5 {
    font-size: 18px;
  }
  #container-galeria {
    margin: 15px auto;
  }
}

@media (max-width: 500px) {
  .links-rodape {
    display: block;
  }
}
@media screen and (min-width: 641px) and (max-width: 1086px) {
  .text-r1 > h1,
  .text-left > h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .text-left > h5 {
    font-size: 18px;
  }
  .col-right2 > h5 {
    font-size: 18px;
  }
  .lista ul > li > p {
    font-size: 14px;
    line-height: 18px;
  }
  .lista {
    gap: 4%;
  }
  .col-right2 {
    margin-top: 232px;
  }
  .footer-container-flex {
    justify-content: center;
  }
}
