html {
    font-size: 62.5%;

}

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Open Sans', sans-serif;
}

.container-geral {
    background-color: white;
    max-width: 1198px;
    margin: 0 auto;
    padding: 10% 10%;
}

header {
    font-size: 1.7rem;
    height: 120px;
    min-height: 120px;
    /* border-bottom: solid 1px #c3c3c3; */

}

.container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    max-width: 1198px;
    padding: 0 10%;
    background: #f9f9f9;
    border-bottom: solid 1px #c3c3c3;

}


a {
    color: #244158;
}

header>.container-header>img {
    width: 200px;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;


}

li {

    margin: 2px;
    color: #707070;
}

p {
    margin-top: 15px;
    color: #707070;

}

nav>ul>li>a {
    border-radius: 3px;
    padding: 6px 11px;
    transition: all 0.5s;

}

nav>ul>li>a:hover {
    background-color: #244158;
    color: #f0f0f0;
    box-shadow: 0px 5px 10px 0px rgb(194, 194, 194);

}

section {
    font-size: 1.85rem;
}

h1 {
    font-size: 3rem;
    color: #244158;
}

h2 {
    font-size: 2.6rem;
    color: #244158;
    margin-top: 70px;

}

h3 {
    font-size: 2.3rem;
    color: #244158;
    margin-top: 70px;
}

h4 {
    font-size: 2rem;
    color: #244158;
    margin-top: 35px;
}

.container>img {
    margin-top: 35px;
}

.container>h3+ol {
    margin-top: 20px;
    margin-left: 35px;

}

.container>h3+ol>li {
    margin-top: 10px;
}

.container-footer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    max-width: 1198px;
    height: 120px;
    background: #244158;
}

footer {
    font-size: 1.5rem;
    color: white;

}

.container-footer>p {
    margin: 0;
    color: white;

}

.newsletter {
    background-color: white;
    max-width: 1198px;
    margin: 0 auto;
    padding: 10% 10%;
}

/* OCULTA LOGO COGNITO */
.cog-body~div {
    display: none !important;
}

.cog-heading,
.cog-label,
.cog-button__text,
input[type=text] {
    font-family: 'Open Sans', sans-serif !important;
}

.cog-heading {
    font-size: 2.3rem !important;
    color: #244158 !important;
}

.cog-label {
    font-size: 1.85rem !important;
    font-weight: 400 !important;
}

.cog-button__text {
    font-size: 1.7rem !important;
    color: #ffffff !important;
}

.cog-page__navigation>button {
    background: #244158 !important;
    border: none !important;
    padding: 6px 11px !important;
    border-radius: 3px !important;
}

.cog-body input[type=text] {

    font-size: 1.7rem !important;
    color: #707070;
}

.cognito form {
    margin: 0 !important;
}

@media(max-width: 740px) {
    header>.container-header>img {
        width: 150px;
        margin: 10px auto 10px auto;
    }

    header {
        font-size: 1.4rem;
    }
}

@media(max-width: 586px) {
    .container-header {
        justify-content: space-around;
        margin: 0;
        height: 100%;
        max-width: 1198px;
        padding: 0;
        flex-direction: column;
        min-width: 290PX;
    }

    .container-footer>p {
        font-size: 1.3rem;
    }

    .container-footer>small {
        font-size: 1.1rem;
    }


    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1.6rem;

    }

    ol {
        font-size: 1.6rem;

    }

}